*{
  padding: 0;
  margin: 0;
  font-family: Lato, Helvetica, Arial;
}

body {
  width: 100vw;
  height: 100vh;
}

#root{
  width: 100vw;
  height: 100vh;
}

.MuiInput-underline:after, .MuiInput-underline:before{
  border-bottom: 0 !important;
}
